@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #dcdcdc;
  background: #090909;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

*::-webkit-scrollbar-thumb {
  background: #767676;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

.typewriter {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  animation: typing 4s steps(30) 1s forwards,  
            blink-caret 0.75s infinite;
  animation-delay: 0s, 5s, 0s;
  animation-iteration-count: infinite;
}

.typewriter::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: white;
  animation: blink-caret 0.75s step-end infinite; 
}

@keyframes blink-caret {
  50% {
    background-color: transparent;
  }
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 50px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




