@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

*::-webkit-scrollbar-thumb {
  background: #767676;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@keyframes typing {
  0% {
    max-width: 0;
    opacity: 1;
  }
  90% {
    max-width: 100%;
  }
  100% {
    max-width: 100%;
    opacity: 1;
  }
}

@keyframes blink-caret {
  50% {
    background-color: transparent;
  }
}

.typewriter {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  animation: typing 2s steps(100) 1s 1 normal both; 
}

.typewriter-light::after,
.typewriter-dark::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  animation: blink-caret 0.75s step-end infinite;
}

.typewriter-light::after {
  background-color: #090909;
}

.typewriter-dark::after {
  background-color: #dcdcdc;
}






