@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

*::-webkit-scrollbar-thumb {
  background: #767676;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

.typewriter {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  animation: typing 4s steps(30) 1s forwards,  
            blink-caret 0.75s infinite;
  animation-delay: 0s, 5s, 0s;
  animation-iteration-count: infinite;
}


.typewriter-light::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #090909; 
  animation: blink-caret 0.75s step-end infinite;
}


.typewriter-dark::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #dcdcdc; 
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  50% {
    background-color: transparent;
  }
}





